#root {
  text-align: center;
}

nav, nav div{
  display: flex;
  gap: 2em;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

nav{
  padding:  1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

nav img{
  height:  50px;
}

nav img:hover{
  cursor: pointer;
}

.products{
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  border-radius: 20%;
}

.products:hover{
  background-color: aliceblue;
}

.herotext{
  margin: 5rem 0 2rem 0;
}

.heading{
  font-size: 3rem;
}

.subheading{
  font-style: italic;
}

.description{
  margin: 1rem;
  font-size: 1.5rem;
}

.heroimg{
  display: flex;
  gap: 2rem;
  justify-content: center;
  /* flex-direction: column; */
}

.heroimg img{
  height: 50%;
  width: 20vw;
}

.shop-button {
  margin: 2rem;
  display: inline-block;
  padding: 12px 24px;
  background-color: black; /* Green */
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shop-button:hover {
  background-color: rgb(175, 170, 170); /* Darker green */
  color: black;
}
