#root {
  margin: 0;
  text-align: center;
  padding: 1rem;
}
nav, nav div{
  display: flex;
  gap: 2em;
  justify-content: space-between;
  /* border: 1px solid black; */
  align-items: center;
  margin: 0;
}

nav img{
  height:  50px;
}

nav img:hover{
  cursor: pointer;
}

.products{
  text-decoration: none;
  color: black;
  background-color:  #eee;
  padding: 0.2rem;
}
