#root {
  text-align: center;
}

nav, nav div{
  display: flex;
  gap: 2em;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

nav{
  padding:  1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

nav img{
  height:  50px;
}

nav img:hover{
  cursor: pointer;
}

.products{
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  border-radius: 20%;
}

.products:hover{
  background-color: aliceblue;
}

.hero{
  padding: 0;
  border: 2px solid red;
  height: 100vh;
  width: 100vw;
}

.heroimg{
  display: flex;
  gap: 2rem;
  justify-content: center;
  /* flex-direction: column; */
}

.heroimg img{
  height: 50%;
  width: 20vw;
}
